// slate
$ac-slate-1: #202129;
$ac-slate-2: #363a4a;
$ac-slate-3: #505468;
$ac-slate-4: #61667e;
$ac-slate-5: #9498ad;
$ac-slate-6: #cfd3e0;
$ac-slate-7: #e5e7f0;
$ac-slate-8: #f7f9fc;

// ocean
$ac-ocean-1: #3c53d8;
$ac-ocean-2: #4d69e5;
$ac-ocean-3: #6783e9;
$ac-ocean-4: #c5d1f6;
$ac-ocean-5: #e5ebfc;
$ac-ocean-6: #fafbff;

// lavender
$ac-lavender-1: #8031fe;
$ac-lavender-2: #9458fb;
$ac-lavender-3: #ae81fb;
$ac-lavender-4: #c4a7fb;
$ac-lavender-5: #eae0fe;
$ac-lavender-6: #f7f2ff;
