@import "../../styles/variables/colors";

.block {
    border-top: 2px solid $ac-slate-7;
    display: flex;
    flex-flow: row wrap;
    height: 2.875em;
    width: 100%;

    &:nth-child(even) {
        background: $ac-slate-8;
    }
}

.cell {
    padding: 0 2em;
    width: calc((100% - 20em) / 5);

    h2 {
        color: $ac-slate-1;
        font-size: 0.938em;
        font-weight: default;
    }

    &Contact {
        h2 {
            color: $ac-ocean-2;
            font-weight: 500;
        }
    }

    &Deals {
        h2 {
            margin-left: 1em;
        }
    }
}

