@import '../variables/colors';

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  color: inherit;
  font-family: 'IBM Plex Sans', sans-serif;
  font-style: normal;
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

b,
strong {
  font-weight: 700;
}
